*{
    box-sizing: border-box;
}

html{
   scroll-behavior: smooth;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25;}

body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.color-acento{color: blueviolet;}

header{
    background-color: white;
}

header .logo{

    margin: 0;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 3em;
    color: blueviolet;
}

header .logoprincipal{
    margin: 0;
    padding: 0px 35px;
}



header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blueviolet;
}

#hero{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        )
    ,url(camaradeseguridad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}

#NuestrasMarcas{
    background-color: rgb(4, 3, 26);
    color: white;
    text-align: center;
}

#NuestrasMarcas .container{
    padding: 125px 12px;
}

#NuestrasMarcas h2{
    color: rgb(255, 255, 255);
    margin-top: 0px;
    font-size: 3.2em;
}




.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("hikvisionlogotipo.jpg");
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("dahualogotipo.png");
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("hilooklogo.jpg");
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}


#NuestrosServicios .container{
    text-align:center;
    padding: 200px 12px;
}

#Contactanos{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: rgb(4, 3, 26);
    color: white;
}

footer{
    background-color: black;
    color: rgb(45, 45, 45);
}

footer p{
    margin: 0;
    text-align: center;
}

@media (min-width: 720px) {

    header{
        position: fixed;
        width: 100%;
    }

    header h1{
        font-size: 4.5em;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
}